// main: main.less

/* Define Colors as variables at root */
:root {
  --skillBkgColor--pathetic: #cfe2f3;
  --skillFgColor--pathetic: #191813;
  --skillBkgColor--untrained: #9fc5e8;
  --skillFgColor--untrained: #191813;
  --skillBkgColor--novice: #6fa8dc;
  --skillFgColor--novice: #191813;
  --skillBkgColor--adept: #3d85c6;
  --skillFgColor--adept: #191813;
  --skillBkgColor--expert: #0b5394;
  --skillFgColor--expert: #cfe2f3;
  --skillBkgColor--master: #073763;
  --skillFgColor--master: #cfe2f3;
  --skillBkgColor--virtuoso: #e9be25;
  --skillFgColor--virtuoso: #191813;
  --skillBkgColor--invalid: #ff0f0faa;
  --skillFgColor--invalid: #191813;

  // Pokemon Type Colors
  --type-color-bug: #91C12F;
  --type-color-dark: #5A5465;
  --type-color-dragon: #0A6DC3;
  --type-color-electric: #F4D23C;
  --type-color-fairy: #EC8FE6;
  --type-color-fighting: #CE416B;
  --type-color-fire: #FF9D55;
  --type-color-flying: #8FA9DE;
  --type-color-ghost: #5169AD;
  --type-color-grass: #63BC5A;
  --type-color-ground: #D97845;
  --type-color-ice: #72CEC0;
  --type-color-normal: #919AA2;
  --type-color-poison: #AA6BC8;
  --type-color-psychic: #FA7179;
  --type-color-rock: #C5B78C;
  --type-color-steel: #598EA2;
  --type-color-water: #4F90D6;
  --type-color-shadow: #222224;
  --type-color-nuclear: #18FF00;
}